body {
  /* background-image: url('./grocery_bg.jpg'); */
  background-color: #071527;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  font-family: courier, monospace;
}

#container{
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Toolbox{
  /* display: flex;
  flex-direction: column; */
}

h2{
  color: aliceblue;
  font-weight:bold;
  font-size: 25px;
  margin-bottom: 20px;
}
label{
  color: aliceblue;
  font-weight:bold;
  font-size: 25px;
}

input{
  outline: none;
  width: 378px;
  height: 38px;
}
input:focus{
  outline: none;
}

#alllist{
  color: aliceblue;
  background-color: antiquewhite;
}

ol{
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  /* background-color:rgb(94, 55, 4); */
  margin-top: 30px;
  width: 500px;
}

li{
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
li>div{
  float: right;
}

li>button{
  background-color: #071527;
  color: rgb(189, 237, 200);
  font-size: 18px;
  font-weight: bold;
}

/* form {
  color: #3498db;
  font-size: 30px;
  font-weight: bold;
}

input[type="text"]{
  background-color : #f8f8f8;
}

#addNeed {
  background-color : #f8f8f8;
  color: #3498db;
}

#addHave {
  background-color : #f8f8f8;
  color: #3498db;
}

h1 {
  color: #4183D7;
  font-size: 50px;
}

h2 {
  color: #4183D7;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: left;
}
.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  border: 3px solid #652323;
}
.list li {
  list-style: none;
  background-color : #f8f8f8;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
  color: #3498db;
}
li a {
  float: right;
  text-decoration: none;
  color: red;
} */

/* @media (-webkit-min-device-pixel-ratio: 2), Webkit-based browsers */
       /* (min--moz-device-pixel-ratio: 2),    Older Firefox browsers (prior to Firefox 16) */
       /* (min-resolution: 2dppx),             The standard way */
       /* (min-resolution: 196dpi)             dppx fallback */
/* {
	body {
		background-image: url('grocery_bg.jpg');

	}
} */